# Auto detect text files and perform LF normalization
* text=auto
// Only change code below this line.

var myDog = {
  "name" : "Dogo",
  "legs" : 4,
  "tails" : 1,
  "friends" : ["Humans", "food"]  
};



let ohStr = "Ohhh no";
let ohRegex = /h{3,6}\s/g; // Change this line
let result = ohRegex.test(ohStr);
